<?xml version="1.0" encoding="utf-8"?>
<Settings><Video><BPP>32</BPP><Height>450</Height><Width>800</Width></Video><Scene><TargetCamera><EyeX>-2</EyeX><EyeY>4.5</EyeY><EyeZ>10.5</EyeZ><CenterX>0</CenterX><CenterY>0</CenterY><CenterZ>0</CenterZ><UpX>0</UpX><UpY>1</UpY><UpZ>0</UpZ></TargetCamera><DefaultTargetCamera><EyeX>10</EyeX><EyeY>10</EyeY><EyeZ>10</EyeZ><CenterX>0</CenterX><CenterY>0</CenterY><CenterZ>0</CenterZ><UpX>0</UpX><UpY>1</UpY><UpZ>0</UpZ></DefaultTargetCamera></Scene></Settings>