# DO NOT CHECK-IN THIS FILE UNLESS MAKING CHANGES TO THE BUILD SYSTEM

# It should have the same value as the Makefile.
VER=1

ifneq ($(VER), $(LOCAL_CONFIG_VER))
$(error Please update your local.config file.)
endif

# External libs
BOOST_VER=boost_1_49_0
BOOST_DIR=/home/paza/matrix/dev/libs/$(BOOST_VER)


